<div class="c-tag-menu">
  <div class="o-flag o-flag--small">
    <div class="o-flag__img">
      <i class="fa fa-tags" aria-hidden="true"></i>
    </div>
    <div class="o-flag__body">
      {% include '01-molecules/00-navigation/inline-pill-menu/inline-pill-menu.twig' with items %}
    </div>
  </div>
</div>
