{% if heading %}
  <h3 class="c-icon-menu__heading u-text-center">{{ heading }}</h3>
{% endif %}
<ul class="c-icon-menu o-list-inline u-mb-none">
  {% for item in items %}
    <li class="c-icon-menu__item o-list-inline__item u-mr-small">
      {% include '00-atoms/buttons/link-btn/link-btn.twig' with {
        link: item.link,
        icon: item.icon,
        label: item.name,
        is_external: item.is_external
      } %}
    </li>
  {% endfor %}
</ul>
