{% if heading %}
  <h3 class="c-icon-menu__heading u-text-center">{{ heading }}</h3>
{% endif %}
<ul class="c-icon-menu o-list-inline u-mb-none">
  {% for item in items %}
    <li class="c-icon-menu__item o-list-inline__item u-mr-small">
      <a class="c-icon-menu__item-link" href="{{ item.link }}" aria-label="{{ item.name }}">
        <i class="fa {{ item.icon }}" aria-hidden="true"></i>
      </a>
    </li>
  {% endfor %}
</ul>
