.c-btn {
  @include button($inuit-global-spacing-unit-small);
  @include text-default();
}

.c-btn--large {
  @include button($inuit-global-spacing-unit);
  @include text-lg();
}

.c-btn--small {
  @include button($inuit-global-spacing-unit-tiny);
  @include text-sm();
}

.c-btn--icon {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    background: none;
  }
}
