.c-header {
  display: table;
  padding-left: $inuit-global-spacing-unit;
  width: 100%;
  height:
    $inuit-global-spacing-unit-huge -
    $inuit-global-spacing-unit;


}

.c-header__primary-nav {
  display: table-cell;
  vertical-align: middle;

  .c-inline-text-menu__item {
    margin-left: $inuit-global-spacing-unit-small;
    margin-right: $inuit-global-spacing-unit-small;
  }

  .c-inline-text-menu__item-link {
    color: color(secondary-text);
    @include inuit-font-size(18px); // magic number - only instance of this font size
    &:hover {
      color: color(primary-link);
      transition: .2s ease-in-out;
    }
  }
}
