.c-header {
  display: table;
  padding-left: $inuit-global-spacing-unit;
  width: 100%;
  height:
    $inuit-global-spacing-unit-huge -
    $inuit-global-spacing-unit;
}

.c-header--active {

  .c-header__primary-nav {
    display: block;
  }

  .c-inline-text-menu__item {
    display: block;
    margin-bottom: $inuit-global-spacing-unit;
    text-align: center;
  }

  .c-inline-text-menu__item-link {
    @include inuit-font-size($global-font-size-md);
  }
}

.c-header__primary-nav {
  display: table-cell;
  vertical-align: middle;

  .c-inline-text-menu__item {
    margin-left: $inuit-global-spacing-unit-small;
    margin-right: $inuit-global-spacing-unit-small;
  }

  .c-inline-text-menu__item-link {
    @include link-secondary();
    @include mq(md) {
      // magic number - only instance of this font size
      @include inuit-font-size(18px);
    }
  }
}
