<div class="c-header">
  <div class="c-header__primary-nav">
    {% include '01-molecules/00-navigation/primary-nav/primary-nav.twig' with { items: primary_nav } %}
  </div>

  <div class="c-header__utility-nav">
    {% include '01-molecules/00-navigation/utility-nav/utility-nav.twig' %}
  </div>
</div>
