<div class="c-header u-bg-darker u-pl">
  <div class="c-header__hamburger u-hidden-from-md">
    {% include '01-molecules/toggles/hamburger/hamburger.twig' %}
  </div>
  <nav id="navigation" class="c-header__primary-nav u-hidden-until-md">
    {% include '01-molecules/00-navigation/inline-text-menu/inline-text-menu.twig' with items %}
  </nav>
</div>
