<div class="c-header u-bg-darkest u-pl">
  <div class="c-header__hamburger u-hidden-from-md">
    {% include '01-molecules/toggles/hamburger/hamburger.twig' %}
  </div>
  <nav id="navigation" class="c-header__primary-nav u-hidden-until-md">
    {% include '01-molecules/00-navigation/inline-text-menu/inline-text-menu.twig' with items %}
  </nav>

  {# WIP #}
  {# <div class="c-header__utility u-1/4@md u-pr">
    {% include '01-molecules/forms/search/search.twig' %}
  </div> #}

</div>
