<div class="c-header u-bg-darker u-pl">
  <div class="c-header__hamburger u-hidden-from-md">
    {% include '01-molecules/toggles/hamburger/hamburger.twig' %}
  </div>
  <nav id="navigation" class="c-header__primary-nav u-hidden-until-md">
    {% include '01-molecules/00-navigation/inline-text-menu/inline-text-menu.twig' with items %}
  </nav>

  {# WIP - temp #}
  {# <div class="c-header__utility u-pull-right u-pr">
    <button class="c-header__utility-button c-btn c-btn--icon">
      <i class="c-header__utility-icon fa fa-search fa-fw u-text-secondary" aria-hidden="true"></i>
    </button>
  </div> #}

</div>
