<div class="c-search">
  <form role="search" method="get" action="/">
    <input class="c-search__input" type="text" placeholder="Search this site" name="s">
    <button class="c-search__button c-btn--icon fa fa-search fa-fw"></button>
  </form>
</div>
