<!DOCTYPE html>
<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
{# <script async src="https://www.googletagmanager.com/gtag/js?id=UA-12736379-14"></script> #}
<script>
  /*window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-12736379-14');*/
</script>

    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500" rel="stylesheet">
    <link rel="stylesheet" href="/build/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    {# <script src="https://use.fontawesome.com/d7313147f3.js"></script> #}
    <style>body{ background-color: #FCFCFC;  }</style>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body>