<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/build/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <script src="https://use.fontawesome.com/d7313147f3.js"></script>
    <style>body{ background-color: #FCFCFC;  }</style>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body>