<div class="o-block {{ style_mod ? "o-block--#{style_mod}" }}">
  <div class="o-block__img">
    {% block block_img %}
    {% endblock %}
  </div>
  <div class="o-block__body">
    {% block block_body %}
    {% endblock %}
  </div>
</div>
