<div class="o-media {{ style_mod ? "o-media--#{style_mod}" }}">
  <div class="o-media__img">
    {% block media_img %}

    {% endblock %}
  </div>
  <div class="o-media__body">
    {% block media_body %}

    {% endblock %}
  </div>
</div>
