<div class="c-hero">
  <div class="c-hero__img u-bg-img" style="background-image: url({{ image }})">
    <p class="c-hero__text u-text-secondary u-text-center u-text-light u-ph">{{ text }}</p>
  </div>
</div>
