<div class="c-recent-posts-widget">
  <h2 class="c-recent-posts-widget__heading u-text-h3 u-text-center">Recent Posts</h2>
  {% for item in items %}
    <a class="c-recent-posts-widget__link u-block u-link-inverse u-pv" href="{{ item.link }}">
      {% include "01-molecules/blocks/media-blocks/media-block.twig" with item %}
    </a>
  {% endfor %}
</div>
