<div class="c-utility-nav">
  <nav role="navigation">
    <ul class="c-utility-nav__list">
      <li class="c-utility-nav__list-item">
        <a class="c-utility-nav__menu-link" href="">Search</a>
      </li>
      <li class="c-utility-nav__list-item">
        <a class="c-utility-nav__menu-link" href="">EN/FR</a>
      </li>
    </ul>
  </nav>
</div>
