{% macro comment_thread(comments) %}
  {% import _self as macros %}
  {% for comment in comments %}
    <li class="c-comment-thread__branch">
      {% include '01-molecules/blocks/comment/comment.twig' %}
      {% if comment.children %}
        <ol class="c-comment-thread__list c-comment-thread__list--child u-ml-large">
          {{ macros.comment_thread(comment.children) }}
        </ol>
      {% endif %}
    </li>
  {% endfor %}
{% endmacro %}

{% import _self as macros %}

<div class="c-comment-thread">
  <ol class="c-comment-thread__list u-ml-none">
    {{ macros.comment_thread(comments) }}
  </ol>
</div>
