/* ==========================================================================
   #BACKGROUNDS
   ========================================================================== */

/**
 * utility classes for background skins
 */

.u-bg-primary {
  background-color: color(primary-background);
}

.u-bg-light {
  background-color: color(light-background);
}

.u-bg-dim {
  background-color: color(dim-background);
}

.u-bg-dark {
  background-color: color(dark-background);
}

/* .u-bg-darker {
  background-color: color(darker-background);
} */

.u-bg-darkest {
  background-color: color(darkest-background);
}

.u-bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

