/* ==========================================================================
   #BACKGROUNDS
   ========================================================================== */

/**
 * utility classes for background skins
 */

.u-bg-darker {
  background-color: color(darker-background);
}

.u-bg-darkest {
  background-color: color(darkest-background);
}

.u-bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

