<div class="c-features u-pt-large">
  <h2 class="c-features__heading u-mb-huge u-text-center">Standard Features</h2>
  <div class="o-layout o-layout--large">
    {% for item in items %}
      <div class="o-layout__item u-1/2@md u-mb-huge">
        {% embed "@layouts/objects/media.twig" %}

          {% block media_img %}
            <i class="c-media-block__icon fa {{ item.icon }}" aria-hidden="true"></i>
          {% endblock %}

          {% block media_body %}
            <h3>{{ item.heading }}</h3>
            <p class="c-media-block__text">{{ item.body }}</p>
          {% endblock %}

        {% endembed %}
      </div>
    {% endfor %}
  </div>
</div>
