<div class="c-blog-sidebar">
  <div class="c-blog-sidebar__item o-box">
    {% include '01-molecules/00-navigation/vertical-text-menu/vertical-text-menu.twig' with categories %}
  </div>
  <div class="c-blog-sidebar__item o-box">
    {% include '01-molecules/00-navigation/vertical-text-menu/vertical-text-menu.twig' with popular %}
  </div>
</div>
