<div class="o-wrapper u-pt-large">
  <div class="u-3/4 u-2/3@md u-center u-mb-large">
    {% include '01-molecules/00-navigation/tabs/tabs.twig' with { items: categories } %}
  </div>

  {% include '02-organisms/lists/excerpt-list/excerpt-list.twig' with {
    items: posts
  } %}
  <div class="u-text-center">
    {% include '01-molecules/00-navigation/pagination/pagination.twig' with pagination %}
  </div>
</div>
