<div class="u-pos-fixed">
  {% include '02-organisms/00-global/00-header/header.twig' with primary_nav %}
</div>

{% include '01-molecules/blocks/hero/hero.twig' with hero %}

<div class="o-wrapper u-pt-large">
  <div class="o-layout">
    <div class="o-layout__item u-2/3@md u-pt u-pr-large@md">
      {% include '02-organisms/lists/excerpt-list/excerpt-list.twig' with posts %}
      <div class="u-text-center">
        {% include '01-molecules/00-navigation/pagination/pagination.twig' with pagination %}
      </div>
    </div>
    <div class="o-layout__item u-1/3@md">
      {% include '02-organisms/sidebars/blog-sidebar/blog-sidebar.twig' with sidebar %}
    </div>
  </div>
</div>

{% include '02-organisms/00-global/01-footer/footer.twig' with footer %}
