<div class="o-wrapper u-pt-large">
  {# {% include '01-molecules/00-navigation/tabs/tabs.twig' %} #}
  {% include '02-organisms/lists/excerpt-list/excerpt-list.twig' with {
    items: posts
  } %}
  <div class="u-text-center">
    {% include '01-molecules/00-navigation/pagination/pagination.twig' with pagination %}
  </div>
</div>
