<div class="o-wrapper u-pt-large">
  {% include '02-organisms/lists/article-list/article-list.twig' with {
    items: posts
  } %}
  <div class="u-text-center">
    {% include '01-molecules/00-navigation/pagination/pagination.twig' with pagination %}
  </div>
</div>
