<div class="c-contact-form">
  {% if validator.is_valid %}
    <div class="o-box o-box--small u-mv">
      {% include '01-molecules/messaging/alert/alert.twig' with alert %}
    </div>
  {% endif %}
  {% include '02-organisms/forms/stacked-form/stacked-form.twig' with form %}
</div>
