<div class="u-pt-large u-bg-light">
  <div class="o-wrapper">
    {% include '02-organisms/sections/services/services.twig' with {
      items: services
    } %}
  </div>
</div>

{% include '02-organisms/sections/quote-bar/quote-bar.twig' with quote_bar %}

<div class="o-wrapper">
  {% include '02-organisms/sections/features/features.twig' with {
    items: features
  } %}
</div>
