<div class="o-wrapper u-pt-huge">
  <div class="o-layout u-mv-large">
    <div class="o-layout__item u-2/3@md">
      {% include '02-organisms/text/article/article.twig' with article %}
    </div>
  </div>
</div>
