<div class="u-pos-fixed">
  {% include '02-organisms/00-global/00-header/header.twig' with primary_nav %}
</div>

<div class="o-wrapper u-pt-huge">
  <div class="o-layout u-mv-large">
    <div class="o-layout__item u-2/3@md">
      {% include '02-organisms/text/article/article.twig' with article %}
    </div>
  </div>
</div>

{% include '02-organisms/00-global/01-footer/footer.twig' with footer %}
