<div class="o-wrapper u-pt-small">
  <div class="o-layout o-layout--center u-mv-large">
    <div class="o-layout__item u-2/3@md">
      {% include '02-organisms/text/article/article.twig' %}

      <div class="u-mt-large">
        {% include '02-organisms/sections/post-footer/post-footer.twig' %}
      </div>

      {% if comments %}
        <div class="u-mt-huge">
          {% include '02-organisms/sections/comments/comments.twig' %}
        </div>
      {% endif %}
    </div>
    {# <div class="o-layout__item u-1/3@md">
      {% if sidebar %}
        {% include '02-organisms/sidebars/blog-sidebar/blog-sidebar.twig' with sidebar %}
      {% endif %}
    </div> #}
  </div>
</div>
