<p class="u-text-xlg">u-text-xlg</p>

<p class="u-text-lg">u-text-lg</p>

<p class="u-text-md">u-text-md</p>

<p class="u-text-default">u-text-default</p>

<p class="u-text-sm">u-text-sm</p>

<p class="u-text-left">u-text-left</p>

<p class="u-text-center">u-text-center</p>

<p class="u-text-right">u-text-right</p>

<p class="u-text-uppercase">u-text-uppercase</p>

<p class="u-text-lowercase">u-text-lowercase</p>

<p class="u-text-capitalize">u-text-capitalize</p>
