.c-excerpt-list {

  .c-excerpt {
    margin-bottom: $inuit-global-spacing-unit-large;
    padding-bottom: $inuit-global-spacing-unit-large;
    @include border-bottom(light-border);

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}
