<div class="c-excerpt-list">
  {% if title %}
    <h2 class="u-mb-large u-text-center u-text-lg">{{ title }}</h2>
  {% endif %}
  {% for item in items %}
    {% include '01-molecules/text/excerpt/excerpt.twig' with item %}
  {% endfor %}
</div>
