<div class="c-excerpt-list">
  {% if title %}
    <h2 class="u-mb-large u-text-center">{{ title }}</h2>
  {% endif %}
  {% for item in items %}
    {# {% set reverse = loop.index is divisible by(2) ? true : false %} #}
    {% include '01-molecules/text/excerpt/excerpt.twig' with item %}
  {% endfor %}
</div>
