<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: rgba(0, 1, 1, 0.08);"></span>
    <span class="sg-label">
      shadow <br>
      color(primary-shadow) <br>
      rgba(0, 1, 1, 0.08)
    </span>
  </li>
</ul>
