<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #FCFFF5;"></span>
    <span class="sg-label">
      ceramic <br>
      color(success-background) <br>
      #FCFFF5
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FFF6F6;"></span>
    <span class="sg-label">
      chablis <br>
      color(error-background) <br>
      #FFF6F6
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #2C662D;"></span>
    <span class="sg-label">
      killarney <br>
      color(success-text) <br>
      #2C662D
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #9F3A38;"></span>
    <span class="sg-label">
      stiletto <br>
      color(error-text) <br>
      #9F3A38
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #A3C293;"></span>
    <span class="sg-label">
      norway <br>
      color(success-border) <br>
      #A3C293
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #9F3A38;"></span>
    <span class="sg-label">
      stiletto <br>
      color(error-border) <br>
      #9F3A38
    </span>
  </li>
</ul>
