<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #FFFFFF;"></span>
    <span class="sg-label">
      white <br>
      color(primary-background) <br>
      #FFFFFF
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #F2F2F2;"></span>
    <span class="sg-label">
      concrete <br>
      color(light-background) <br>
      #F2F2F2
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #E6E6E6;"></span>
    <span class="sg-label">
      mercury <br>
      color(dim-background) <br>
      #E6E6E6
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #333333;"></span>
    <span class="sg-label">
      mine-shaft <br>
      color(dark-background) <br>
      #333333
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000000;"></span>
    <span class="sg-label">
      black <br>
      color(darkest-background) <br>
      #000000
    </span>
  </li>
</ul>