<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #FCFCFC;"></span>
    <span class="sg-label">
      alabaster <br>
      color(primary-background) <br>
      #FCFCFC
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #F2F2F2;"></span>
    <span class="sg-label">
      concrete <br>
      color(light-background) <br>
      #F2F2F2
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #E6E6E6;"></span>
    <span class="sg-label">
      mercury <br>
      color(dim-background) <br>
      #E6E6E6
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #333333;"></span>
    <span class="sg-label">
      mine-shaft <br>
      color(dark-background) <br>
      #333333
    </span>
  </li>
  {# <li>
    <span class="sg-swatch" style="background: #1A1A1A;"></span>
    <span class="sg-label">
      cod-grey <br>
      color(darker-background) <br>
      #1A1A1A
    </span>
  </li> #}
  <li>
    <span class="sg-swatch" style="background: #1A1A1A;"></span>
    <span class="sg-label">
      cod-grey <br>
      color(darkest-background) <br>
      #1A1A1A
    </span>
  </li>
</ul>