<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #CCCCCC;"></span>
    <span class="sg-label">
      silver <br>
      color(light-border) <br>
      #CCCCCC
    </span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #999999;"></span>
    <span class="sg-label">
      dusty-gray <br>
      color(primary-border) <br>
      #999999
    </span>
  </li>
</ul>
