<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #CCCCCC;"></span>
    <span class="sg-label">
      silver <br>
      color() <br>
      #CCCCCC
    </span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #000000;"></span>
    <span class="sg-label">
      black <br>
      color(primary-border) <br>
      #000000
    </span>
  </li>
</ul>
