<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #FFFFFF;"></span>
    <span class="sg-label">
      white <br>
      color(secondary-text) <br>
      #FFFFFF
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #666666;"></span>
    <span class="sg-label">
      dove-grey <br>
      color(light-text) <br>
      #666666
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #333333;"></span>
    <span class="sg-label">
      mine-shaft <br>
      color(primary-text) <br>
      #333333
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ED1C24;"></span>
    <span class="sg-label">
      crimson <br>
      color(error-text) <br>
      #ED1C24
    </span>
  </li>

</ul>
