<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #FFFFFF;"></span>
    <span class="sg-label">
      white <br>
      color(secondary-text) <br>
      #FFFFFF
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #666666;"></span>
    <span class="sg-label">
      dove-grey <br>
      color(light-text) <br>
      #666666
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #333333;"></span>
    <span class="sg-label">
      mine-shaft <br>
      color(primary-text) <br>
      #333333
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #2C662D;"></span>
    <span class="sg-label">
      killarney <br>
      color(success-text) <br>
      #2C662D
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #9F3A38;"></span>
    <span class="sg-label">
      stiletto <br>
      color(error-text) <br>
      #9F3A38
    </span>
  </li>

</ul>
