<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #FFFFFF;"></span>
    <span class="sg-label">
      white <br>
      color(secondary-text) <br>
      #FFFFFF
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000000;"></span>
    <span class="sg-label">
      black <br>
      color(primary-text) <br>
      #000000
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ED1C24;"></span>
    <span class="sg-label">
      crimson <br>
      color(primary-link) <br>
      #ED1C24
    </span>
  </li>
</ul>
