<blockquote class="c-quote u-mh-large">
  <p class="c-quote__text u-text-md u-mb-tiny"><i>{{ body }}</i></p>
  <cite class="c-quote__cite">
    <a class="c-quote__cite__link" href="{{ url }}">{{ cite }}</a>
  </cite>
</blockquote>
