<form class="c-stacked-form" name="{{ name }}" method="{{ method }}" action="{{ action }}">
  {% for field in fields %}
    <div class="o-box o-box--small">

      {# WIP stuff #}
      {% if field.type == 'text' %}
        {% include '01-molecules/forms/field/field.twig' with field %}

      {% elseif field.type == 'textarea' %}
        {% include '01-molecules/forms/textarea/textarea.twig' with field %}
      {% endif %}

    </div>
  {% endfor %}

  {{ validator.token_fields }}

  <div class="o-box o-box--small">
    <input class="c-btn c-btn--primary" type="submit" value="Submit">
  </div>

</form>
