{% extends "layouts/base.twig" %}

{% block content %}
  <div class="o-wrapper u-pv">
    <div class="u-2/3@md u-center">
      {% include '03-templates/contact-form.twig' %}
    </div>
  </div>
{% endblock %}
