{% extends "layouts/base.twig" %}

{% block content %}
  <div class="o-wrapper u-pt-huge">
    <div class="u-2/3@md">
      {% include '03-templates/contact-form.twig' %}
    </div>
  </div>
{% endblock %}
