{% extends "layouts/base.twig" %}

{% block content %}
  <div class="u-pt-large u-bg-light">
    <div class="o-wrapper">
      {% include '02-organisms/sections/services/services.twig' with {
        items: post.get_field('services')
      }%}
    </div>
  </div>
{% endblock %}
