///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 4px !default;
$global-transition: all 300ms ease-in-out !default;

$mq-breakpoints: (
  sm: 640px,
  md: 960px,
  lg: 1200px,
);

$inuit-widths-breakpoint-separator: \@ !default;

$inuit-wrapper-width: 1400px;

// $inuit-fractions: 1 2 3 4 5;

$inuit-spacing-directions: (
  null: null,
  't': '-top',
  'r': '-right',
  'b': '-bottom',
  'l': '-left',
  'h': '-left' '-right',
  'v': '-top' '-bottom'
);

$inuit-spacing-properties: (
  'p': 'padding',
  'm': 'margin'
);

$inuit-spacing-sizes: (
  null: $inuit-global-spacing-unit,
  '-tiny': $inuit-global-spacing-unit-tiny,
  '-small': $inuit-global-spacing-unit-small,
  '-large': $inuit-global-spacing-unit-large,
  '-huge': $inuit-global-spacing-unit-huge,
  '-none': 0
) !default;

$inuit-responsive-spacing: true;

$inuit-responsive-spacing-directions:
  $inuit-spacing-directions !default;

$inuit-responsive-spacing-properties:
  $inuit-spacing-properties !default;

$inuit-responsive-spacing-sizes:
  $inuit-spacing-sizes !default;

$global-font: 'Ubuntu', sans-serif;
$global-font-weight-light: 300;
$global-font-weight-regular: 400;
$global-font-weight-bold: 500;

// $inuit-global-font-size: 18px;

// $inuit-global-font-size: 18px;
// $inuit-global-line-height:  28px;

$inuit-font-size-h1:  32px !default;
$inuit-font-size-h1-desktop:  48px !default;

$inuit-font-size-h2:  28px !default;
$inuit-font-size-h2-desktop:  36px !default;

$inuit-font-size-h3:  22px !default;
$inuit-font-size-h3-desktop:  28px !default;

$inuit-font-size-h4:  18px !default;
$inuit-font-size-h4-desktop:  18px !default;

$inuit-font-size-h5:  14px !default;
$inuit-font-size-h5-desktop:  16px !default;

$inuit-font-size-h6:  12px !default;
$inuit-font-size-h6-desktop:  14px !default;


$global-font-size-huge: 32px;
$global-font-size-huge-desktop: 48px;

$global-font-size-xlg: 26px;
$global-font-size-xlg-desktop: 36px;

$global-font-size-lg:  22px;
$global-font-size-lg-desktop:  28px;

$global-font-size-md:  18px;
$global-font-size-md-desktop:  18px;

$global-font-size-sm:  12px;
$global-font-size-sm-desktop:  14px;

$global-font-size-xsm:  10px;
$global-font-size-xsm-desktop:  12px;

$global-header-height: 72px;
$global-burger-layer-height: 2px;

$global-hero-height: 200px;
$global-hero-height-md: 320px;
$global-hero-height-lg: 436px;
