///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 6px !default;
$global-transition: all 300ms ease-in-out !default;

$mq-breakpoints: (
  sm: 640px,
  md: 960px,
  lg: 1200px,
);

$inuit-wrapper-width: 1200px;

$global-font: 'Ubuntu', sans-serif;
