///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 6px !default;
$global-transition: all 300ms ease-in-out !default;

$mq-breakpoints: (
  sm: 640px,
  md: 960px,
  lg: 1200px,
);

$inuit-widths-breakpoint-separator: \@ !default;

$inuit-wrapper-width: 1200px;

// $inuit-fractions: 1 2 3 4 5;

$inuit-spacing-directions: (
  null: null,
  't': '-top',
  'r': '-right',
  'b': '-bottom',
  'l': '-left',
  'h': '-left' '-right',
  'v': '-top' '-bottom'
);

$inuit-spacing-properties: (
  'p': 'padding',
  'm': 'margin'
);

$inuit-spacing-sizes: (
  null: $inuit-global-spacing-unit,
  '-tiny': $inuit-global-spacing-unit-tiny,
  '-small': $inuit-global-spacing-unit-small,
  // '-medium': $inuit-global-spacing-unit-medium,
  '-large': $inuit-global-spacing-unit-large,
  // '-xlarge': $inuit-global-spacing-unit-xlarge,
  '-huge': $inuit-global-spacing-unit-huge,
  '-none': 0
) !default;

$inuit-responsive-spacing: true;

$global-font: 'Ubuntu', sans-serif;
// $inuit-global-font-size: 18px;

$global-font-size-xlg: 48px;
// $global-font-size-xlg-desktop: 48px;

$global-font-size-lg: 32px;
// $global-font-size-lg-desktop: 32px;

$global-font-size-md: 24px;
// $global-font-size-md-desktop: 22px;

$global-font-size-sm: 14px;
// $global-font-size-sm-desktop: 14px;
