<a class="c-btn c-btn--primary" href="">Primary Button</a>

<br>

<a class="c-btn c-btn--primary c-btn--small" href="">Primary Button - small</a>

<br>

<a class="c-btn c-btn--primary c-btn--large" href="">Primary Button - large</a>
