<div class="c-article-list">
  <div class="o-layout o-layout--large o-layout--stretch">
    {% for item in items %}
      <div class="o-layout__item u-1/2@sm u-1/3@md u-mb-large">
        {% include '02-organisms/01-views/card/card.twig' with item %}
      </div>
    {% endfor %}
  </div>
</div>
