<div class="c-thumb-link">

  <a class="c-thumb-link__anchor" href="#">
    <img class="c-thumb-link__image" src="https://satyr.io/368x208/acdc" alt="" title="">

    <div class="c-thumb-link__overlay u-overlay-darkest">
      <div class="c-thumb-link__overlay-text">
        <h2 class="c-thumb-link__overlay-title u-text-center u-text-secondary">Lorem Ipsum</h2>
      </div>
    </div>
  </a>

</div>