.c-sidebar__item {
  ul {
    list-style: none;
    margin-left: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: $inuit-global-spacing-unit-tiny;
    // @include text-weight($global-font-weight-light);
  }
}
