<ul class="o-list-bare">
  <li class="o-list-bare__item">Item</li>
  <li class="o-list-bare__item">Thing</li>
  <li class="o-list-bare__item">Stuff</li>
  <li class="o-list-bare__item">Piece</li>
</ul>
