<ul class="o-list-inline">
  <li class="o-list-inline__item">Item</li>
  <li class="o-list-inline__item">Thing</li>
  <li class="o-list-inline__item">Stuff</li>
  <li class="o-list-inline__item">Piece</li>
</ul>
