<ul class="c-inline-tag-menu o-list-inline u-m-none">
  {% for item in items %}
    {% set item = item|merge({'style_mod': 'dark'}) %}
    <li class="c-inline-tag-menu__item o-list-inline__item u-mr-tiny">
      <a href="{{ item.link }}">
        {% include '00-atoms/labels/pill/pill.twig' with item %}
      </a>
    </li>
  {% endfor %}
</ul>
