<button class="c-hamburger hamburger hamburger--slider" type="button" aria-label="open navigation menu">
  <span class="c-hamburger__box hamburger-box">
    <span class="c-hamburger__inner hamburger-inner"></span>
  </span>
</button>
