<div class="c-summary">
  <h2 class="c-summary__heading u-mb-none">{{ title }}</h2>
  <h3 class="c-summary__sub-heading u-text-h4 u-text-normal">{{ sub_heading }}</h3>
  <div class="c-summary__body">
    {{ body|raw }}
  </div>
  <ul class="c-summary__list o-list-bare u-mt-large">
    {% for item in list.items %}
      <li class="c-summary__list-item u-mb-tiny"><em><b>{{ item }}</b></em></li>
    {% endfor %}
  </ul>
</div>
