<div class="c-comments">
  <div class="u-mb-huge">
    <h3 class="c-comments__heading">{{ comment_count }} Comments</h3>
    {% include '02-organisms/lists/comment-thread/comment-thread.twig' %}
  </div>
  <div class="u-3/4@md u-mb" id="respond">
    {% if function('comments_open') %}
      {% include '02-organisms/forms/comment-form/comment-form.twig' %}
    {% endif %}
  </div>
</div>
