<div class="c-services o-layout o-layout--large">
  {% for item in items %}
    <div class="o-layout__item u-1/3@md u-mb-large">
      {% include '01-molecules/objects/block.twig' with item %}
    </div>
  {% endfor %}
</div>
