<div class="c-services o-layout o-layout--large">
  {% for item in items %}
    <div class="o-layout__item u-1/2@sm u-1/3@md u-mb">
      <div class="o-box ">
        {% include '01-molecules/objects/block.twig' with item %}
      </div>
    </div>
  {% endfor %}
</div>
