/* ==========================================================================
   #LINKS
   ========================================================================== */

/**
 *
 *
 *
 */

@mixin link-secondary() {
  color: color(secondary-link);
  &:hover {
    color: color(secondary-link-hover);
    text-decoration: none;
    transition: .2s ease-in-out;
  }
}
