/* ==========================================================================
   #LINKS
   ========================================================================== */

/**
 *
 *
 *
 */

@mixin link-secondary() {
  color: color(secondary-text);
  &:hover {
    color: color(primary-link);
    transition: .2s ease-in-out;
  }
}