/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 *
 *
 *
 */

%btn {
  display: block;
  margin: 0;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: $global-radius;
}

@mixin button($padding, $bg-color: dim-background, $bg-hover-color: dimmed-background, $border: primary-border, $color: primary-text ) {
  @extend %btn;
  @include padding-v($padding);
  @include padding-h($inuit-global-spacing-unit);
  background-color: color($bg-color);
  color: color($color);

  &:hover {
    background-color: color($bg-hover-color);
    text-decoration: none;
    transition: $global-transition;
    color: color(secondary-link-hover);
  }
}
