<div class="c-hero-image" style="background-image: url(https://satyr.io/480x200?text=c-hero-image);"></div>

<br><br>

<div class="c-hero-image c-hero-image--medium" style="background-image: url(https://satyr.io/960x320?text=c-hero-image--medium);"></div>

<br><br>

<div class="c-hero-image c-hero-image--large" style="background-image: url(https://satyr.io/1920x436?text=c-hero-image--large);"></div>
