.c-excerpt {
  @include mq($until: sm) {
    .o-media__img {
      float: none;
      margin-bottom: $inuit-global-spacing-unit;
    }
  }
}

.c-excerpt__date {
  @include text-weight($global-font-weight-regular);
}

.c-excerpt__link {
  text-decoration: none !important;
}


