.c-excerpt {
  .c-inline-text-menu__item {
    margin-right: $inuit-global-spacing-unit-tiny !important;
  }
  .c-inline-text-menu__item-link {
    color: color(light-text);
  }
}

.c-excerpt__image {
  width: 100%;
}

.c-excerpt__date {
  color: color(light-text);
}
