.c-excerpt {

  .o-block__body-heading {
    margin-bottom: $inuit-global-spacing-unit-tiny;
  }

  .o-block__img {
    img {
      width: 100%;
    }
  }

  .c-inline-text-menu__item {
    margin-right: $inuit-global-spacing-unit-tiny !important;
  }
}

.c-excerpt__date {
  color: color(light-text);
}
