<div class="c-excerpt">
  <a class="c-excerpt__link u-text-primary" href="{{ url }}">
    <h3 class="c-excerpt__title u-mb-none">{{ title }}</h3>
    <p class="c-excerpt__date">{{ date }} by: {{ author }}</p>
    {% include '01-molecules/objects/media.twig' %}
  </a>
</div>
