<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #FFFFFF;"></span>
    <span class="sg-label">
      color() <br>
      #FFFFFF
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #F2F2F2;"></span>
    <span class="sg-label">
      color() <br>
      #F2F2F2
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #E6E6E6;"></span>
    <span class="sg-label">
      color() <br>
      #E6E6E6
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #333333;"></span>
    <span class="sg-label">
      color() <br>
      #333333
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000000;"></span>
    <span class="sg-label">
      color() <br>
      #000000
    </span>
  </li>
</ul>