<ol>
  <li>Create a style guide.</li>
  <li>Design elements, eg. paragraph, headings.</li>
  <li>Use those elements to design context independent components, eg. heading with paragraph</li>
  <li>Assemble various components together to design modules, eg. blog article</li>
  <li>Put modules together to design templates</li>
  <li>Use templates to design pages</li>
  <li>Don't give me pages first. I need elements, components, and modules before I care about a page</li>
  <li>Not being discipled about this inflates dev hours, causes bloat, and makes a UI more difficult to reason with</li>
  <li>Follow the same process when coding UI</li>
  <li>Always work bottom up, and not top down</li>
  <li>Don't resist</li>
  <li>Enjoy more of your life</li>
</ol>
