<div class="c-cost u-bg-dark u-pv u-p@md u-text-secondary">
  <div class="o-wrapper">
    <h2 class="c-cost__heading u-mt-small u-text-center">{{ heading }}</h2>
    <div class="o-box u-ph-none u-ph@md u-pt-none@md">
      <p class="c-cost__text u-text-center">{{ body }}</p>
      <p class="c-cost__cta u-text-center">
        <a class="c-cost__cta-link u-link-secondary" href="{{ cta.url }}"><strong>{{ cta.title }}</strong></a>
      </p>
    </div>
  </div>
</div>
