<ul class="o-list-inline">

  <li class="o-list-inline__item u-text-center u-mr">
    <i class="fa fa-universal-access fa-3x" aria-hidden="true"></i>
    <p class="sg-label u-mt-small">fa-universal-access</p>
  </li>

  <li class="o-list-inline__item u-text-center u-mr">
    <i class="fa fa-line-chart fa-3x" aria-hidden="true"></i>
    <p class="sg-label u-mt-small">fa-line-chart</p>
  </li>

  <li class="o-list-inline__item u-text-center u-mr">
    <i class="fa fa-wrench fa-3x" aria-hidden="true"></i>
    <p class="sg-label u-mt-small">fa-wrench</p>
  </li>

  <li class="o-list-inline__item u-text-center u-mr">
    <i class="fa fa-magic fa-3x" aria-hidden="true"></i>
    <p class="sg-label u-mt-small">fa-magic</p>
  </li>

  <li class="o-list-inline__item u-text-center u-mr">
    <i class="fa fa-tachometer fa-3x" aria-hidden="true"></i>
    <p class="sg-label u-mt-small">fa-tachometer</p>
  </li>

  <li class="o-list-inline__item u-text-center u-mr">
    <i class="fa fa-github fa-3x" aria-hidden="true"></i>
    <p class="sg-label u-mt-small">fa-github</p>
  </li>

  <li class="o-list-inline__item u-text-center u-mr">
    <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
    <p class="sg-label u-mt-small">fa-linkedin</p>
  </li>

  <li class="o-list-inline__item u-text-center u-mr">
    <i class="fa fa-wordpress fa-3x" aria-hidden="true"></i>
    <p class="sg-label u-mt-small">fa-wordpress</p>
  </li>

  <li class="o-list-inline__item u-text-center u-mr">
    <i class="fa fa-lock fa-3x" aria-hidden="true"></i>
    <p class="sg-label u-mt-small">fa-lock</p>
  </li>

  <li class="o-list-inline__item u-text-center u-mr">
    <i class="fa fa-code fa-3x" aria-hidden="true"></i>
    <p class="sg-label u-mt-small">fa-code</p>
  </li>

  <li class="o-list-inline__item u-text-center u-mr">
    <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
    <p class="sg-label u-mt-small">fa-pencil-square-o</p>
  </li>

  <li class="o-list-inline__item u-text-center u-mr">
    <i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
    <p class="sg-label u-mt-small">fa-mobile</p>
  </li>

  <li class="o-list-inline__item u-text-center u-mr">
    <i class="fa fa-cubes fa-3x" aria-hidden="true"></i>
    <p class="sg-label u-mt-small">fa-cubes</p>
  </li>

  <li class="o-list-inline__item u-text-center u-mr">
    <i class="fa fa-search fa-3x" aria-hidden="true"></i>
    <p class="sg-label u-mt-small">fa-search</p>
  </li>
</ul>
