<div class="c-footer u-bg-darkest">
  <div class="o-wrapper">
    <div class="o-layout">
      <nav class="c-footer__nav o-layout__item u-2/3@md u-mb-small">
        {% include '01-molecules/00-navigation/inline-text-menu/inline-text-menu.twig' with { items: menu } %}
      </nav>
      <div class="c-footer__icon-nav o-layout__item u-1/4@md">
        {% include '01-molecules/00-navigation/icon-menu/icon-menu.twig' with { items: social } %}
      </div>
      <div class="o-layout__item u-mt">
        <p class="c-footer__text u-text-center u-m-none u-text-sm">{{ copyr|raw }}</p>
      </div>
    </div>
  </div>
</div>
